# Presumed virtualenv path
/venv

# Pre-compiled modules
*.pyc
*.pyo

# SQLite db and collectstatic files
/gi_assignment/db.sqlite3
/gi_assignment/static/*
!/gi_assignment/static/.gitkeep

# IntelliJ settings
/.idea
